* {
    margin: 0;
    padding: 0;
}
nav {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

li{
    font-size: 25px;
    color: white;
 }
 li:hover {
     color: thistle;
 }
 ul {
     display: block;
 }
body {
    background-image: url("../img/ciudad_bg.jpg");
    background-repeat: repeat-x;
    background-size: 80%;
    padding: 0px;
    margin: 100px;
}
@media only screen and (max-width:780px) {
    body {
        background-image: url("../img/ciudad_2_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width:570px) {
    body {
        background-image: url("../img/ciudad_3_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}