* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 45px;
}
h3 {
   font-size: 30px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template: "content_1  content_1  content_1  content_1  content_1  content_1   content_1" 100px
                   "content_2  content_2  content_2  content_2  content_2  content_2   content_2" 100px;
    grid-template-rows: 60px 50px 82px 82px 82px 82px 82px;
    width: 90%;
    max-width: 1100px;
    margin: 20px auto auto  auto ;
    border: 1px solid darkgray ;
    font-size: 15px;
}
.content {
    
   background-color: white;
    margin: 5px;
    border: 1px solid darkgray ;
    box-shadow:  2px 5px 6px rgb(6, 104, 14);
} 
.content_1 {
    grid-area: content_1 ;
    background-color: rgb(250, 8, 250);
    
}
.content_2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1100px;
    grid-area: content_2 ;
    margin: 5px;
    text-align: center;
    font-size: 10px;
}
.subcontent {
    display: block;
    background-color: rgb(71, 214, 216);
    margin: 5px;
}
.content_r {
    display: block;
    background-color: rgb(243, 81, 235);
    margin: 5px;
    border: 1px solid darkgray ;
    box-shadow:  2px 5px 6px rgb(61, 3, 49);
}
.content_ant {
    background-color: rgb(214, 211, 211);
    color: rgb(124, 120, 120);
    margin: 5px;
    border: 1px solid darkgray ;
    box-shadow:  2px 5px 6px rgb(42, 44, 43);
}
