* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.tabla-style {
    border-collapse:  collapse;
    display: block;
    max-width: 80%;
    margin: 30px auto;
    
    
}
td, th {
    border: 1px solid rgba(97, 98, 92, 0.8);
    padding: 15px;
}
.titulo {
    padding: 0px;
    text-align: center;
}

.button {
    width: 100%;
    background: red;
}
.contenedor_principal {
    /* background-color: rgb(114, 248, 248); */
    width: 70%;
    display: grid;
    margin: 20px auto auto auto

}

.content {
    width: 100%;
    display: grid;
    grid-template: "titulo   titulo           titulo " 100px
                   "label1   codigo           CODIGA   " 50px
                   "label2   descripcion      descripcion " 100px
                   "label3   valorUnitario    valorUnitario " 50px
                   "label4   Stock            stock     "   50px
                   "buttom   buttom           buttom"   100px/
                    1fr       1fr                1fr ;
    margin: auto;
    

}

label {
    width: 80%;
    margin-left: 10%;
    padding: 5px;
    font-size: 18px;
}

 input {
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
    outline: none;
}

.titulo {
    grid-area: titulo;
    padding: 20px;
    text-align: center;
}


.label1 {
    grid-area: label1;
}
.label2 {
    grid-area: label2;
}
.label3 {
    grid-area: label3;
}
.label4 {
    grid-area: label4;
}
.codigo {
    grid-area: codigo;
}
.descripcion {
    grid-area: descripcion;
}
.valorUnitario {
    grid-area: valorUnitario;
}
.Stock {
    grid-area: Stock;
}
.buttom {
    grid-area: buttom;
    width: 80%;
    margin: auto ;
    background-color: rgb(71, 128, 250);
    border-style: none;
}

.tabla_principal{
    display: flex; 
    margin: 50px auto;
  /*   text-align: center; */
}

.fila_encabezado {
    background-color: rgb(136, 132, 132); 
}