* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.tabla-style {
    border-collapse:  collapse;
    display: block;
    max-width: 80%;
    margin: 30px auto;
    
    
}
td, th {
    border: 1px solid rgba(97, 98, 92, 0.8);
    padding: 15px;
}
h1 {
    padding: 20px;
    text-align: center;
}

.button {
    width: 100%;
    background: red;
}
.contenedor_principal {
    background-color: rgb(114, 248, 248);
    width: 70%;
    display: flex;
    margin: 20px auto auto auto

}

.content {
    width: 100%;
    margin: auto;

}

label {
    width: 80%;
    margin-left: 200px;
    padding: 15px;
}

input {
    margin: 20px;
    width: 200px;
}