* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template: "header       nav         nav "       100px
                   "section      section     section"    350px
                   "article-1    article-2   article-3"  auto
                   "article-4    article-5   article-6"  auto
                    ;
    gap: 20px;


}
header, nav, section, .img-article {
    display: flex;
    border-radius: 20px;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}
header {
    background: chartreuse;
    grid-area: header;
}
nav {
    background: cyan;
    grid-area: nav ;
}
section {
    background: darkorange;
    grid-area: section;
}
article {
    max-width: 380px;
    margin-left: 20px;
    margin-right: 20px;
}
.img-article {
    background-color: rgb(85, 34, 85);
    height: 300px;
    width: 380px;
}
.titulo-articulo {
   
    margin-top: 20px;
    font-size: 22px;
}
.font-article {
    font-size: 17px;
    text-align: justify;
}
.article-1{
    grid-area: article-1;
}
.article-2{
    grid-area: article-2;
}
.article-3{
    grid-area: article-3;
}
.article-4{
    grid-area: article-4;
}
.article-5{
    grid-area: article-5;
}
.article-6{
    grid-area: article-6;
}
@media only screen and (max-width: 860px) {
    .content-main {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template: "header       nav"        100px
                       "section      section"    350px
                       "article-1    article-2"  auto
                       "article-3    article-4"  auto
                       "article-5    article-6"  auto
                        ;
        gap: 20px;
    }
}
@media only screen and (max-width: 540px) {
    .content-main {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template: "header"        100px
                        "nav"          100px
                       "section"       350px
                       "article-1"     auto
                       "article-2"     auto
                       "article-3"     auto
                       "article-4"     auto
                       "article-5"     auto
                       "article-6"     auto
                        ;
        gap: 20px;
    }
}