h1 {
    text-align: center;
}
.container {
    display: grid;
    
    grid-template: "item-grid-2   item-grid-2   item-grid-2" 100px
                   "item-grid-3   item-grid-4   item-grid-5" 250px
                   "item-grid-3   item-grid-4   item-grid-5" 250px
                   "item-grid-6   item-grid-6   item-grid-6" 100px /
                   1fr             700px        1fr     ;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, .7);
    font-size: 2.5em;
    text-align: center;
    gap: 20px;
}
.item-grid-2 {
    grid-area: item-grid-2;
    background-color: blue;
}
.item-grid-3{
    grid-area: item-grid-3;
    background-color: crimson;
}
.item-grid-4 {
    grid-area: item-grid-4;
    background-color: cyan;
}
.item-grid-5 {
    grid-area: item-grid-5;
    background-color: rgb(1, 29, 29);
}
.item-grid-6 {
    grid-area: item-grid-6;
    background-color: darkgray;
}