* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/fon2_tecn.jpg");
    background-attachment: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.main-content {
    background-color: rgb(8, 8, 8);
    width: 320px;
    height: 450px;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin: 0 ;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}
label {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: bold;
}
input {
    width: 100%;
    margin-bottom: 15px;
}
input[type="text"], input[type="Password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 35px;
    color: whitesmoke;
    font-size: 14px;
}
input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    background-color: rgb(9, 48, 223);
    font-size: 16px;
    border-radius: 18px;
}
input[type="submit1"] {
    border: none;
    outline: none;
    display: block;
    width: 30%;
    height: 30px;
    background-color: rgb(62, 145, 253);
    font-size: 14px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 35%;
    text-align: center;
    cursor: pointer;
}
input[type="submit"], input[type="submit1"] :hover {
    cursor: pointer;
    color: white;
}
a {
    text-decoration: none;
    font-size: 16px;
    line-height: 15px;
    color:rgb(185, 162, 185)
}
li {
    list-style: none;
}
.a1 {
    text-align: center;
    margin-left: 35px;
    padding: 20px;
}
a:hover {
    color: white;
}







.contenido{
    display: flex;
    flex-direction: column;
}
.encabezado{
   display: flex;
   background: rgb(82, 133, 245); 
   height: 58px;
   padding: 6px;
}
.imagenDiv{
   display: flex;
   flex-basis: 90%;
   justify-content: left;

}
.salir{
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: 0.5px solid black;
}
.fa-xmark-large{
   font-size: 20px;
   margin-right: 10px;
}
.imagen{
   background: cover;
   background-repeat: no-repeat center center;
   background-size: 12px;
   width: 50px;
   height: 50px;
   padding: 6px;
   border-radius: 50%;
}
.mensajes{
    display: flex;
   /*  flex-grow: 3; */
    height: 252px;  
    background-color: rgb(252, 249, 245); 
}
/* .imagenDiv{

} */

.piePagina{
   height: 55px;
   width: 100%;
   padding: 10px;
   display: flex;
   /* justify-content: center; */
   /* align-items: center; */
   flex-basis: 100%;
   background-color: rgb(216, 215, 215);
}
.inputEnviar{
   display: flex;
   flex-basis: 90%;
   padding: 6px;
}