*{
    margin: 0;
    padding: 0;
}
.menu-bar {
    display: block;
    padding: 20px;
   

}
.content-main {

    margin-bottom: 100px;
    height: 100%;
    width: 220px;

}
.menu-box {
    border-bottom: 1px solid rgb(77, 75, 75);
    position: fixed;
    top: 0;
    width: 180px;
    height: 100%;

}
.menu-box-invisible {
    width: 180px;
    margin-left: 20px;
    visibility: hidden;
    height: 100%;
}
ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    list-style: none;
    font-family: 'Padauk', sans-serif ;
    font-size: 12px;
    height: 100%;
    overflow-y: scroll;
}
li {
    display: block;
    padding: 20px;
}
a {
    text-align: right;
    text-decoration: none;
    color:rgb(112, 109, 109)
}
.main-content {
    margin-left: 250px;
    margin-top: 60px;
}
li:hover {
    background: rgb(183, 183, 202);
    color: white;
    
}
.menu-bar:hover {
    background-color: white;
}
a:hover {
    color: rgb(19, 22, 22);
}