*{
    margin: 0;
    padding: 0;
}
.menu-bar {
    display: block;
    padding: 20px;
   

}
.content-main {

    margin-bottom: 100px;
    height: 100%;
    width: 220px;

}
.menu-box {
    border-bottom: 1px solid rgb(77, 75, 75);
    position: fixed;
    display: none; 
    width: 180px;
    height: 90%;
    opacity: 0;
    /* background: rgb(162, 187, 241);  */
    /* border-style: ridge; */

}
@keyframes mostraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
.menu-box.invisible {
    border-bottom: 1px solid rgb(77, 75, 75);
    position: fixed;
    display: flex;
    width: 22%;
    height: 90%;
    animation: mostraMenu 0.2s ease-in-out both;
}
.ul_ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 98%;
    list-style: none;
    font-family: 'Padauk', sans-serif ;
    font-size: 12px;
    height: 100%;
    overflow-y: scroll;
}
.li_li {
    display: block;
    padding: 20px;
}
a {
    text-align: right;
    text-decoration: none;
    color:rgb(112, 109, 109)
}
.main-content {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    /* margin-left: 250px;
    margin-top: 60px; */
}
li:hover {
    background: rgb(183, 183, 202);
    color: white;
    
}
.menu-bar:hover {
    background-color: white;
}
a:hover {
    color: rgb(19, 22, 22);
}
.contenedor {
    margin-left: 200px;
    width: auto;
    height: 800px;
    background-color: aquamarine;
}
.Contenedor_Principal{
    display: flex;
    flex-direction: row;
}
