h1{
    font-size: 55px
}
*{
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 90px;
}
a {
    text-decoration: none;
    color: rgb(64,34,34,.7);
    font-size: 1.2em;
    display: block;
    border-radius: 1px;
    padding: 10px;
}

.main-contem {
    margin: 40px 40px 40px 220px;
    text-align: justify;
}
p {
    font-size: 40px;
}
.menu-principal {
    color: blue;
    position: absolute;
}