* {
    margin: 0;
    padding: 0;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template: 
                    "contentMenu   contentInput     contentCarro" 55px /
                     40px              1fr              40px;
    width: 100%;
    background: yellow;
    text-align: center;
    margin: 0 auto ;
    
  
}

.contentMenu {
    grid-area: contentMenu;
    
    text-align: center;
    margin: auto;
}
.contentInput {
    grid-area: contentInput;
   
    text-align: center;
    margin: auto;
    width: 100%;
}
.contentCarro {
    grid-area: contentCarro;
    text-align: center;
    margin: auto;
}
input {
    width: 90%;
    border-radius: 15px;
    height: 30px;
    border-style: none;
    outline: none;
    
}
.main-content{
    
    display: Grid;
    width: 90%;
    margin: 0 auto;
}
.content_producto{
    
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template:       "  imagen_carro       marca_carro"       50px
                         "  imagen_carro       modelo_carro"      50px
                         "  imagen_carro       precio_carro"      100px 
                         "  imagen_carro       empty"             auto /
                            1fr                 1fr;

    margin:  30px ;         
    border-bottom: 1px solid ;       
}
.imagen_carro {
/*     display: grid; */
    grid-area: imagen_carro;
    background-size: cover;
    width: 100%;
    height: 220px;

    
    
}
.marca_carro {
    grid-area: marca_carro;
    font-size: 30px;
    margin-left: 10%;

}
.modelo_carro{
    grid-area: modelo_carro;
    font-size: 25px;
    margin-left: 10%;
    
}
.precio_carro{
    grid-area: precio_carro;
    margin-left: 10%;
    font-size: 30px;
}
.inputs {
    left: 15px;
}

